<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Page - Error 404</title>
	<link rel="stylesheet" type="text/css" href="../static/css/404.css"
		th:href="@{/css/404.css}" />
	</head>
<body>
	<div class="wrapper row2">
		<div id="container" class="clear">
		    
		    <section id="fof" class="clear">
		      <div class="hgroup clear">
		        <h1>404</h1>
		        <h2>Error ! <span>Page Not Found</span></h2>
		      </div>
		      <p>For Some Reason The Page You Requested Could Not Be Found On Our Server</p>
		      <p><a href="javascript:history.go(-1)">&laquo; Go Back</a> / <a href="#">Go Home &raquo;</a></p>
		    </section>
		    
		</div>
	</div>
</body>
</html>